@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Tagesschrift&family=Tektur:wght@400..900&display=swap');
*{
    font-family: "Tagesschrift", system-ui;
}
body{
    margin: 0px;
    padding: 0px;
}
main img{
    width:100%;
    
    height: 100vh;
}

main{
     margin: 0px;
    display: flex;
    align-items: center;
}
header{
    color: aliceblue;
    position: absolute;
    z-index: 2;
    width: 50%;
    margin: 20% 19%;
    text-align: center;
    background-color: rgba(116, 163, 116, 0.361);
    padding: 25px;
    border-radius: 30px;
}
header h1 span{
    font-size: 17vw;
}
a{
    text-decoration: none;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    margin: 19px;
    border: #709869 2px solid;
    background-color: rgba(109, 176, 109, 0.523);
}
a:active{
    background-color: rgb(97, 180, 97);
}

@media(min-width:768px){
    main img{
        width: 258%;
        position: absolute;
        left: -80%;
    }
    a{
        background-color: rgb(46, 106, 46);
    }
    a:hover{
        background-color: rgba(50, 114, 50, 0.72);
        transition: 0.3s;
    }
    a:active{
        background-color: rgba(30, 70, 30, 0.89);
        transition: 0.3s;
    }
}
@media(min-width:1024px){
    header h1 span{
        font-size: 8vw;
    }
    main img{
       width: 100%;
       left: 0%;
    }
    header{
        margin: 7% 23%;
        background-color: rgba(75, 145, 90, 0.493);
    }
    main{
        height: 85%;
    }
}

.link{
    margin: 30px;
    width: 90%;
}