@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Tektur:wght@400..900&display=swap');
*{
    font-family: "Share Tech", sans-serif;
}
ul{
    list-style-type: none;
}
.menu{
    position: fixed;
    top: 2%;
    left: 3%;
    padding: 5px 10px 15px;
    border-radius: 14px;
    background-color: rgba(186, 123, 36, 0.819);
    width: 7%;
    height: 2%;
}
.menu img{
    width: 100%;
}
nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0px;
    width: 80%;
    height: 35%;
    align-items: start;
    
    padding-left: 30px;
    color: white;
    border-radius: 10px;
    font-size: small;
    min-width: 67px;
}
nav{
    position: fixed;
    z-index: 6;
    width: 80%;
    height: 105%;
    background-color:rgba(186, 123, 36, 0.819);
    align-items: start;
    left: -10px;
    top: -10px;
    transform: scaleX(0);
}
.nav{
    text-align: center;
    padding: 10px 2px;
    border-radius: 15px;
} 
.nav a{
    text-decoration: none;
    color: white;
}
.nav:hover{
    background-color:rgba(153, 99, 23, 0.924);
    transition: 0.3s;
}
.nav:active{
    background-color: rgba(227, 177, 106, 0.832);
    transition: 0.3s;
}
header img{
    width:100%;
    height: 100%;
} 
h1{
   position: absolute;
   width: 60%;
   text-align: center;
   inset: 7% 20%;
   color: aliceblue;
   font-size: 8vw;
   font-weight: bolder;
}
.facts{
    position: absolute;
    display: flex;
    color: #fff;
}
.numbers span{
    font-size: 3vw;
}
.discover{
    display: flex;
    height: 30%;
    gap:100px;
    justify-content: right;
}
.discover img{
    width: 50%;
}
.discover .dis_text{
    width: 60%;
}
.dis_text span{
    font-size: 6vw;
    font-weight: 1000;
}
.dis_text p, .dis_text span{
    color: rgb(50, 50, 50);
}
.dis_text p{
    font-size: large;
}

.flex-attr img{
    width: 100%;
    position: sticky;
}
.living img{
    width: 100%;
}

@media(min-width:768px){
    .menu{
       
    display: none;
    }
    nav ul{
        font-size: medium;
        flex-direction: row;
        height: auto;
        left: 1.5%;
        background-color:rgba(186, 123, 36, 0.819);
        padding-left: 0px;
    }
    nav{
        transform: scaleX(1);
        background-color: #ffffff00;
         width: 90%;
        left: 13%;
        top: 20px;
    }
    .nav{
        padding: 10px;
    }
    .facts{
        gap: 15%;
        font-size: larger;
        top: 50%;
        width: 80%;
    }
    .numbers span{
        font-size: 3vw;
    }
  
}
@media(min-width:1024px){
    nav ul{
        font-size: large;
       
    }
    nav{
        width: 70%;
        left:21.5%;
    }
    .flex-attr img{
        width: 55%;
    }
    .flex-attr{
        display: flex;
    }
}