@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Tektur:wght@400..900&display=swap');
*{
    font-family: "Share Tech", sans-serif;
}
img{
    width: 31%;
    position: sticky;
    margin: 1px;
}
header a img{
    width: 60%;
}
header a{
    position: absolute;
    z-index: 3;
    left:9%;
    top: 4%;
}
header{
    display:flex;
    justify-content: center;
}
nav{ background-color: rgb(183, 130, 60);
    position: fixed;
    right: 10px;
    bottom: 15px;
    z-index: 29;
    width: 30px;
    height: 30px;
    padding: 1% 1% 1% 0.8%;
    border-radius: 50%;
}
.upper img{
    width: 100%;
    height: 100%;
}
.upper:hover{
    background-color: #9f601c;
    transition: 0.2s;
}
.upper:active{
     background-color: #cd8a43;
    transition: 0.2s;
}
nav:active, nav:hover{
    background-color: rgb(180, 127, 41);
}
nav img{
    height: 100%;
    width: 100%;
}
img:hover{
    transform: scale(1.1);
    z-index: 4;
    transition: 0.4s;
}
img:active{
    transform: scale(1.6);
    transition: 0.4s;
}

@media(max-width:1024px){
    main{
   margin-left: 2% ;
}
}
@media(min-width: 768px){
main{
   margin-left: 7% ;
}
   
nav{
        bottom:25px;
        width: 40px;
        height: 35px;
    }
}
h1{
    text-align: center;
}