@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Tektur:wght@400..900&display=swap');
*{
    font-family: "Share Tech", sans-serif;
}
img{
    width: 32%;
    position: sticky;
}
.span{
    transform: scaleY(1.06);
    padding-bottom: 2px;
}
.span2{
    transform: scaleY(1.28);
    padding-bottom: 8px;
}
.span3{
    transform: scaleY(0.95);
}
h1{
    text-align: center;
}